@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    --dark: #4a27a2;
    --light: #8B5DFF;
}

body {
	background: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
}

.App {
	text-align: center;
    margin-inline: 2rem;
}

h1 {
	color: #fff;
	margin-bottom: 0.5rem;
	font-size: 1.75rem;
}

.TodoWrapper {
    background: var(--dark);
    opacity: 0.9;
    border: 3px solid;
	margin-block: 5rem;
	padding: 2rem;
	border-radius: 5px;
}

.TodoForm {
	width: 100%;
	margin-bottom: 1rem;
}

.todo-input {
	outline: none;
	background: none;
	border: 1px solid var(--light);
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 300px;
	color: #fff;
}

.todo-input::placeholder {
	color: #a9a9a9;
}

.todo-btn {
	background: var(--light);
	color: #fff;
	border: none;
	padding: 0.55rem;
	cursor: pointer;
    margin-bottom: 2rem;
}

.Todo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--light);
    max-width: 400px;
	color: #fff;
	padding: 0.75rem 1rem;
	border-radius: 5px;
	margin-bottom: 1rem;
}

.Todo p {
    width: 65%;
    word-wrap: break-word;
    text-align: left;
}

.incompleted {
	color: #fff;
	cursor: pointer;
}

.completed {
	color: #c5aeff;
	text-decoration: line-through;
	cursor: pointer;
}

.icons {
    width: 30%;
}

.edit-icon,
.delete-icon,
.copy-icon {
	cursor: pointer;
	color: #fff;
}

.edit-icon {
    margin-inline: 0.5rem;
}

@keyframes copyAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.copy-icon.clicked {
    animation: copyAnimation 0.3s ease-in-out;
}

@media screen and (max-width: 450px) {
    .TodoWrapper {
        max-width: 90%;
        margin: 2rem auto;
    }

    .todo-input {
        width: 90%;
    }

    .Todo p {
        font-size: 12px;
    }

    .copy-icon,
    .edit-icon,
    .delete-icon {
        font-size: 0.75rem;
    }

    .delete-icon {
        margin-right: 0.25rem;
    }
}